MYSQL_DATABASE=quietup
MYSQL_USER=quietup
MYSQL_PASSWORD=change-me
MYSQL_ROOT_PASSWORD=change-me

DB_URL=jdbc:mysql://localhost:3306/quietup?useUnicode=true&characterEncoding=utf8&serverTimezone=UTC
DB_USERNAME=quietup
DB_PASSWORD=change-me
