<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quietp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_quietup"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_quietup"
        android:supportsRtl="true"
        android:theme="@style/Theme.Quietp">

        <!-- LoginActivity : 스플래시 테마 + 런처 + 키보드 올라올 때 화면 리사이즈 -->
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.Quietp.Splash"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 메인 -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- 카메라/앨범 FileProvider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.quietp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

    </application>

</manifest>
